@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #39162e;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  position: absolute;
}
.message p {
  font-size: 42px;
  color: #15e1a1;
  font-family: "Fredoka One", cursive;
}

.outer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f1a1a;
  z-index: 9;
}
.outer-container .container {
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translatey(-200px);
}
.outer-container .container .letters {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  position: absolute;
  color: #af5792;
  font-size: 1.5rem;
  letter-spacing: 1rem;
  text-align: center;
}
.outer-container .container .bowl {
  width: 15.75rem;
  height: 6.25rem;
  background: #dec8c8;
  border-radius: 0.4rem 0.34em 7rem 7rem;
  border-bottom: 0.4rem solid #b39c9c;
  position: relative;
}
.outer-container .container .bowl .loader {
  position: absolute;
  width: 0;
  height: 0.5rem;
  background: #ff635c;
  top: 0.5rem;
}